<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="admin/adminHeader::html('MOOC')"></head>

<body>
<script>
    $(function () {
        var cid=getUrlParms("cid");
        var data4Vue = {
            videos: [],
            cName:'',
            name: '',
            email: '',
            bean: {uid: '', cid: ''},
            course:'',
            currentAddress:''
        };
        var data4Nav = {
            name: ''
        };

        var vue1 = new Vue({
            el: '#studentNav',
            data: data4Nav,
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.name = sessionStorage.getItem('username');
            },
            methods: {
                logout: function () {
                    axios.get('moocLogout').then(function (response) {
                        location.href = "/mooc";
                    });
                }
            }
        });

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.name = sessionStorage.getItem('username');
                this.getCourse();
                this.getVideoList();
                this.checkCourse();
            },

            methods: {
                logout: function () {
                    axios.get('moocLogout').then(function (response) {
                        location.href = "/mooc";
                    });
                },

                getCourse:function () {
                    var url="courses/"+cid;
                    axios.get(url).then(function (response) {
                        vue.course = response.data;
                        vue.cName= vue.course.name;
                    })
                },

                getVideoList:function () {
                    var url="/course/"+cid+"/videos/all";
                    axios.get(url).then(function (response) {
                        vue.videos = response.data;
                    })
                },

                changeVideoAddress:function (address,cid) {
                    var url="uc/"+this.bean.cid;
                    this.currentAddress = address;
                    document.getElementById('address').setAttribute("src",this.currentAddress);
                    document.getElementById('myVideo').load();
                    this.bean.uid=sessionStorage.getItem('userId');
                    this.bean.cid=cid;
                    axios.put(url, this.bean).then(function (response) {
                    });
                },

                addCourse:function () {
                    var url="uc";
                    this.bean.uid=sessionStorage.getItem('userId');
                    this.bean.cid=cid;
                    axios.post(url, this.bean).then(function (response) {

                    });
                },

                checkCourse:function () {
                    var url="uc/"+sessionStorage.getItem('userId')+"/"+cid;
                    axios.get(url).then(function (response) {
                        if(response.data !== null)
                            $("div#addcourse").css("visibility", "hidden");
                    });
                }
            }
        });
    });
</script>
<div th:replace="include/plugin/studentNav::html"></div>

<main role="main" id="workingArea">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image: url('./img/bg.jpg');background-repeat: repeat-x">
        <div class="container row">
            <div class="col-2"></div>
            <div class="col-7">
                <br>
                <h2 class="display-5">{{cName}}</span></h2>
            </div>
        </div>
    </div>
    <div class="container">
        <nav>
            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">课程介绍</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">课程内容</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div style="margin-left: 180px;margin-right: 180px" class="mt-4">
                    <p>{{course.description}}</p>
                    <div id="addcourse" style="visibility: visible">
                        <button class="btn btn-outline-info" @click="addCourse" role="button">加入课程</button>
                    </div>
                </div>
                <hr class="mt-lg-3">
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row mt-4">
                    <div class="col-sm-2 sidenav">
                        <ul class="nav nav-pills flex-column">
                            <li v-for="video in videos" class="nav-item">
                                <a class="nav-link text-secondary" href="#" @click="changeVideoAddress(video.address,video.course.id)">{{video.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-10">
                        <div>
                            <video id="myVideo" controls="" style="width :100%;height:100%;object-fit:fill">
                                <source id="address" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>