<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="admin/adminHeader::html('MOOC')"></head>

<body>
<script>
    $(function () {
        var data4Vue = {
            result: [],
            name: '',
            email: '',
            bean: {email: '', password: ''}
        };
        var data4Nav = {
            name: ''
        };

        var vue1 = new Vue({
            el: '#studentNav',
            data: data4Nav,
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.name = sessionStorage.getItem('username');
            },
        });

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.name = sessionStorage.getItem('username');
            },

            methods: {
                login: function () {
                    axios.post('mooclogin', this.bean).then(function (response) {
                        this.result = response.data;
                        var temp = response.data.data;
                        if (temp != null && temp.rid == 3) {
                            sessionStorage.setItem('username', temp.name);
                            sessionStorage.setItem('userEmail', temp.email);
                            location.href = "/test";
                        } else {
                            $("span.errorMessage").html(result.message);
                            $("div.loginErrorMessageDiv").css("visibility", "visible");
                        }
                    });
                }
            }


        });
    });
</script>
<div th:replace="include/plugin/studentNav::html"></div>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image: url('./img/bg.jpg');background-repeat: repeat-x">
        <div class="container row" id="workingArea">
            <div th:replace="include/plugin/loginModal::html"></div>
            <div th:replace="include/plugin/registerModal::html"></div>
            <div class="col-2"></div>
            <div class="col-7">
                <br>
                <h2 class="display-5">音乐与艺术</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-info">音乐与艺术</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">音乐理论</a>
                        </h3>
                        <div class="mb-1 text-muted">张三</div>
                        <a href="#" class="mt-auto text-info">详细了解</a>
                    </div>
                    <div class="d-none d-md-block" style="width: 248px;height: 199px">
                        <img  src="./img/1.jpg" style="height: 100%;width:100%;" alt="Card image cap">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-info">音乐与艺术</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">平面设计</a>
                        </h3>
                        <div class="mb-1 text-muted">李四</div>
                        <a href="#" class="mt-auto text-info">详细了解</a>
                    </div>
                    <div class="d-none d-md-block" style="width: 248px;height: 199px">
                        <img src="./img/2.jpg" style="height: 100%;width:100%;" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- /container -->

</main>
</body>
</html>