<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="admin/adminHeader::html('MOOC')"></head>

<body>
<script>
    $(function () {
        var data4Vue = {
            result: [],
            name: '',
            email: '',
            newPassword:'',
            user: {email: '', name: '',password: ''}
        };
        var data4Nav = {
            name: ''
        };

        var vue1 = new Vue({
            el: '#studentNav',
            data: data4Nav,
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.name = sessionStorage.getItem('username');
            },
            methods: {
                logout: function () {
                    axios.get('moocLogout').then(function (response) {
                        vue.user=response.data;
                    });
                }
            }
        });

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.name = sessionStorage.getItem('username');
                this.getUserInfo();
            },

            methods: {
                getUserInfo:function () {
                    var uid=sessionStorage.getItem('userId');
                    var url='users/'+uid;
                    axios.get(url).then(function (response) {
                        vue.user=response.data;
                    });
                },

                updateInfo:function () {
                    $("#changeInfo").submit(function(event){
                        const f=$(this);
                        if(f[0].checkValidity()===false){
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        f.addClass("was-validated")
                    });

                    var uid=sessionStorage.getItem('userId');
                    var url='users/'+uid;
                    axios.put(url,vue.user).then(function (response) {

                    });
                },

                updatePassword:function () {
                    $("#changePassword").submit(function(event){
                        const f=$(this);
                        if(f[0].checkValidity()===false){
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        f.addClass("was-validated")
                    });

                    var uid=sessionStorage.getItem('userId');
                    var url='users/password/'+uid;
                    vue.user.password = vue.newPassword;
                    axios.put(url,vue.user).then(function (response) {
                    });
                }
            }


        });
    });
</script>
<div th:replace="include/plugin/studentNav::html"></div>

<main role="main" id="workingArea">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image: url('./img/bg.jpg');background-repeat: repeat-x">
        <div class="container row" >
            <div class="col-2"></div>
            <div class="col-7">
                <br>
                <h2 class="display-5">个人信息中心</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2 mb-4">
                <div class="nav flex-column nav-pills list-group" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active list-group-item" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">基本信息</a>
                    <a class="nav-link list-group-item" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">修改密码</a>
                </div>
            </div>


            <div class="tab-content col-md-10" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div>
                        <h4 class="mb-3">基本信息</h4>
                        <hr class="mb-4">
                        <form id="changeInfo" class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="userName">名字</label>
                                    <input type="text" v-model.trim="user.name" class="form-control" id="userName" :placeholder="[[user.name]]"
                                           required>
                                    <div class="invalid-feedback">名字不能为空</div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="email">邮箱</label>
                                    <input type="email" v-model.trim="user.email" class="form-control" id="email" :placeholder="[[user.email]]"
                                           required>
                                    <div class="invalid-feedback">邮箱不能为空</div>
                                </div>
                            </div>
                            <div class="row col-12">
                                <button class="btn btn-info ml-auto" type="submit" @click="updateInfo">保存</button>
                                <button class="btn btn-danger ml-1" type="submit">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div>
                        <h4 class="mb-3">修改密码</h4>
                        <hr class="mb-4">
                        <form id="changePassword" class="needs-validation" novalidate >
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="newPassword">新密码</label>
                                    <input type="password" class="form-control mb-2" id="newPassword" v-model.trim="newPassword" placeholder="请输入新密码"
                                           required>
                                    <div class="invalid-feedback">新密码不能为空</div>
                                    <input type="password" class="form-control" id="newPasswordAgain" placeholder="重复上面的新密码" :pattern="'^'+newPassword+'$'"
                                           required>
                                    <div class="invalid-feedback">请重复输入新密码</div>
                                </div>
                            </div>
                            <div class="row col-4">
                                <button class="btn btn-danger ml-auto" type="submit" @click="updatePassword">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- /container -->

</main>
</body>
</html>