<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head th:include="admin/adminHeader::html('MOOC')"></head>

<body>
<script>
    $(function () {
        var data4Vue = {
            result: [],
            name:'',
            email: '',
            beans: [],
            progress:[]
        };
        var data4Nav = {
            name: ''
        };
        var vue1 = new Vue({
            el: '#studentNav',
            data: data4Nav,
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.name = sessionStorage.getItem('username');
            },
            methods: {
                logout: function () {
                    axios.get('moocLogout').then(function (response) {
                        location.href = "/mooc";
                    });
                }
            }
        });

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted: function () { //mounted　表示这个 Vue 对象加载成功了
                this.name = sessionStorage.getItem('username');
                this.email = sessionStorage.getItem('userEmail');
                this.listAll();
            },

            methods: {
                listAll:function () {
                    var url = "uc/"+this.email+"/all";
                    axios.get(url).then(function (response) {
                        vue.beans = response.data;
                    });
                }
            }
        });
    });
</script>
<div th:replace="include/plugin/studentNav::html"></div>

<main role="main" id="workingArea">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image: url('./img/bg.jpg');background-repeat: repeat-x">
        <div class="container row" >
            <div class="col-2"></div>
            <div class="col-7">
                <br>
                <h2 class="display-5">欢迎回来，{{this.name}}！</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <nav>
            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">全部课程</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">进行中</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">已完成</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div v-for="bean in beans">
                    <div class="card course-card">
                        <div class="card-header">
                            <a v-if="bean.course">{{bean.course.name}}</a>
                            <a v-if="bean.course" :href="'user_course?cid='+bean.course.id"><button class="btn btn-outline-info">进入课程</button></a>
                        </div>
                        <div class="card-body">
                            <p v-if="bean.course && bean.course.user">任课老师：{{bean.course.user.name}}</p>
                            <p>当前课程进度</p>
                            <div class="progress">
                                <div v-if="bean.progress && bean.progress<100" class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                     v-bind:style="{width: bean.progress +'%'}"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                <div v-else class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                     v-bind:style="{width: bean.progress +'%'}"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-lg-3">
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div v-for="bean in beans">
                    <div class="card course-card" v-if="bean.progress<100">
                        <div class="card-header">
                            <a v-if="bean.course">{{bean.course.name}}</a>
                            <a :href="'user_course?cid='+bean.course.id"><button class="btn btn-outline-info">进入课程</button></a>
                        </div>
                        <div class="card-body">
                            <p v-if="bean.course && bean.course.user">任课老师：{{bean.course.user.name}}</p>
                            <p>当前课程进度</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                     v-bind:style="{width: bean.progress +'%'}"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-lg-3">
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div v-for="bean in beans">
                    <div class="card course-card" v-if="bean.progress && bean.progress == 100">
                        <div class="card-header">
                            <a v-if="bean.course">{{bean.course.name}}</a>
                            <a :href="'user_course?cid='+bean.course.id"><button class="btn btn-outline-info">进入课程</button></a>
                        </div>
                        <div class="card-body">
                            <p v-if="bean.course && bean.course.user">任课老师：{{bean.course.user.name}}</p>
                            <p>当前课程进度</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                     v-bind:style="{width: bean.progress +'%'}"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-lg-3">
            </div>
        </div>
    </div> <!-- /container -->

</main>
</body>
</html>