<div class="pageDiv m-auto" th:fragment="html">
    <nav m-auto>
        <ul class="pagination m-auto">
            <li :class="{ disabled: pagination.first } " class="page-item">
                <a class="page-link" href="#nowhere" @click="jump('first')">«</a>
            </li>
            <li :class="{ disabled: !pagination.hasPrevious }" class="page-item">
                <a class="page-link" href="#nowhere" @click="jump('pre')">‹</a>
            </li>

            <li v-for="i in pagination.navigatepageNums" class="page-item">
                <a class="page-link" href="#nowhere" @click="jumpByNumber(i-1)">
                    {{i}}
                </a>
            </li>

            <li :class="{ disabled: !pagination.hasNext }" class="page-item">
                <a class="page-link" href="#nowhere" @click="jump('next')">›</a>
            </li>
            <li :class="{ disabled: pagination.last }" class="page-item">
                <a class="page-link" href="#nowhere" @click="jump('last')"> »</a>
            </li>
        </ul>
    </nav>
</div>