<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="admin/adminHeader::html('编辑学科')" ></head>
<body>
<script>
    $(function(){
        var data4Vue = {
            uri: 'subjects',
            listURL:'admin_subject_list',
            bean: { id: 0, name: ''},
            //file:''
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.get();
            },
            methods: {
                get:function(){
                    var id = getUrlParms("id");
                    var url = this.uri+"/"+id;
                    axios.get(url).then(function(response) {
                        vue.bean = response.data;
                    })
                },
                update:function () {
                    if(!checkEmpty(this.bean.name, "学科名称"))
                        return;
                    var url = this.uri+"/"+this.bean.id;
                    axios.put(url,this.bean).then(function(response){
                        location.href=vue.listURL;
                    });
                }
            }
        });
    });
</script>

<div id="workingArea" class="container-fluid">

    <div class="row content">
        <div th:replace="include/plugin/adminNav::html"></div>

        <br>

        <div class="col-sm-10">
            <ol class="breadcrumb"  >
                <li><a href="admin_subject_list">所有学科</a></li>
                <li class="active">编辑学科</li>
            </ol>

            <div class="panel panel-warning editDiv">
                <div class="panel-heading">编辑学科</div>
                <div class="panel-body">
                    <table class="editTable">
                        <tr>
                            <td>学科名称</td>
                            <td><input  @keyup.enter="update" v-model.trim="bean.name" type="text" class="form-control"></td>
                        </tr>
                        <tr class="submitTR">
                            <td colspan="2" align="center">
                                <input type="hidden" name="id"   v-model.trim="bean.id" >
                                <a href="#nowhere" class="btn btn-success" @click="update">提 交</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>

</div>

</body>
</html>