HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/src/main/webapp/img/1.jpg
/src/main/webapp/img/2.jpg
/src/main/webapp/img/bg.jpg
/src/main/webapp/img/QQ图片20200307152313.jpg
/src/main/webapp/img/User_Avatar-1.png
/src/main/webapp/img/usr_avatar.png
/src/main/webapp/video/21.mp4
/src/main/webapp/video/22.mp4
/src/main/webapp/video/test.mp4
