<template th:fragment="html">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>

    <!--  bootstrap  -->
    <link href="./css/bootstrap/4.4.1/bootstrap.min.css" rel="stylesheet">
    <script src="./js/bootstrap/4.4.1/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./bootstrap-submenu-3.0.0/dist/css/bootstrap-submenu.css">
    <script src="./bootstrap-submenu-3.0.0/dist/js/bootstrap-submenu.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script>
        // For v2 [data-toggle="dropdown"] is required for [data-submenu].
        // For v2 .dropdown-submenu > [data-toggle="dropdown"] is forbidden.
        $('[data-submenu]').submenupicker();
    </script>
</template>